<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front-End Task</title>
    <link rel="stylesheet" href="styles/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
</head>
<body>
<header class="header">
    <span class="logo">Front-End Task</span>
</header>
<main class="main">
    <span class="selection">
        Select sorting type
        <select onchange="sort(event)">
            <option selected="selected">Default</option>
            <option name="alphabetical">Alphabetical order</option>
            <option name="reverse">Reverse order</option>
        </select>
    </span>
    <table class="main-table">
        <tbody id="users"></tbody>
        <script id="users-template" type="text/x-handlebars-template">
            {{#each this}}
            <tr>
                <td><img src="{{this.picture.medium}}"></td>
                <td class="user-name" id="{{this.email}}" onclick="openModal(event)">{{this.name.title}}.
                    {{this.name.first}}
                    {{this.name.last}}
                </td>
            </tr>
            {{/each}}
        </script>
    </table>
</main>
<footer></footer>
<div id="modal-window">
    <div id="window">
        <span id="close" onclick="closeModal()">&#10006;</span>
        <div id="user"></div>
        <script id="user-template" type="text/x-handlebars-template">
            <span>
                <img class="user-avatar" src="{{picture.large}}">
            </span>
            <span class="user-info">
                <div>Street: {{location.street}}</div>
                <div>City: {{location.city}}</div>
                <div>State: {{location.state}}</div>
                <div>Email: {{email}}</div>
                <div>Phone: {{phone}}</div>
            </span>
        </script>
    </div>
    <div id="overlay"></div>
</div>
<script src="scripts/index.js"></script>
</body>
</html>