body {
    background-color: darksalmon;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e6e0c3;
    z-index: 2;
}

.logo {
    text-align: left;
    font-size: 45px;
    font-style: italic;
    text-transform: capitalize;
    color: white;
}

.selection {
    text-align: right;
    font-size: 35px;
    font-style: italic;
    text-transform: capitalize;
    color: white;
}

.selection select {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    font-style: italic;
    text-transform: capitalize;
}

.main {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.main-table {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    width: 600px;
}

#users tr:nth-of-type(odd) {
    background-color: cornsilk;
}

#users tr:nth-of-type(even) {
    background-color: gainsboro;
}

.user-name {
    font-size: larger;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}

.user-name:hover {
    color: darkcyan;
}

#modal-window {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

#window {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -250px;
    width: 500px;
    height: 250px;
    background-color: white;
    z-index: 3;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.user-avatar {
    display: inline-block;
    margin: 15px;
}

.user-info {
    position: relative;
    float: right;
    top: 15px;
    right: 30px;
    font-size: large;
    font-style: italic;
    text-transform: capitalize;
}